{% block form %}
    <div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>{{ 'Information de l\'événement'|trans }}</h5>
            </div>
            <div class="widget-content nopadding">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <div class="row-fluid">
                    <div class="span5 control-group">
                        <label class="control-label">{{ form_label(form.name) }}</label>
                        {{ form_errors(form.name) }}
                        <div class="controls">
                            {{ form_widget(form.name) }}
                        </div>
                        <label class="control-label">{{ form_label(form.city) }}</label>
                        {{ form_errors(form.city) }}
                        <div class="controls">
                            {{ form_widget(form.city) }}
                        </div>
                    </div>
                    <div class="span5 control-group">
                        <label class="control-label"> {{ form_label(form.date) }}</label>
                        {{ form_errors(form.date) }}
                        <div class="controls">
                            {{ form_widget(form.date) }}
                        </div>
                        <label class="control-label"> {{ form_label(form.eventType) }}</label>
                        {{ form_errors(form.eventType) }}
                        <div class="controls">
                            {{ form_widget(form.eventType) }}
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="col-sm-offset-2 col-sm-10 pull-right">
                        <button id="submit_event" type="submit" value="save" class="btn btn-success">{{ 'Enregistrer'|trans }}</button>
                        <button id="cancel_event" type="submit" value="cancel" class="btn btn-default">{{ 'Annuler'|trans }}</button>
                    </div>
                </div>
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}