{% extends '::base_connect.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block breadscrums %}
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="{{ url('app_home') }}" title="Go to Home" class="tip-bottom"><i
                        class="icon-home"></i> {{ 'Home'|trans }}</a> <a
                    href="{{ url('app_event_list') }}">{{ 'Evénements'|trans }}</a> <a href="#"
                                                                                     class="current">{{ 'Ajouter un événement'|trans }}</a>
        </div>
        <h1>{{ 'Evénements'|trans }}</h1>
    </div>
    <!--End-breadcrumbs-->
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <hr>

        <div class="well">
            {% include 'form/event.html.twig' %}
        </div>
    </div>

{% endblock %}