{% extends '::base_connect.html.twig' %}

{% block breadscrums %}
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="{{ url('app_home') }}" title="Go to Home" class="tip-bottom"><i
                        class="icon-home"></i> {{ 'Home'|trans }}</a> <a href="#"
                                                                         class="current">{{ 'Evénements'|trans }}</a></div>
        <h1>{{ 'Judokas'|trans }}</h1>
    </div>
    <!--End-breadcrumbs-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@AppBundle/Resources/public/js/jquery.ui.custom.js'
    '@AppBundle/Resources/public/js/jquery.ui.custom.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/jquery.dataTables.min.js'
    '@AppBundle/Resources/public/js/jquery.dataTables.min.js'
    '@AppBundle/Resources/public/js/matrix.js'
    '@AppBundle/Resources/public/js/matrix.tables.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <hr>
        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="{{ url('app_event_add') }}">
                <li class="icon-plus"></li>
                &nbsp;{{ 'Evénement'|trans }}</a>
        </div>
        <div class="row-fluid">
            <div class="widget-box">
                <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                    <h5>{{ 'Liste des événements'|trans }}</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                        <tr>
                            <th style="width: 30%">{{ 'Nom de l\'événement'|trans }}</th>
                            <th style="width: 30%">{{ 'Ville'|trans }}</th>
                            <th style="width: 10%">{{ 'Date'|trans }}</th>
                            <th style="width: 10%">{{ 'Type '|trans }}</th>
                            <th style="width: 10%">{{ 'Nbr participant '|trans }}</th>
                            <th style="width: 10%">{{ 'Action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr class="gradeX">
                                <td>{{ event.name }}</td>
                                <td>{{ event.city }}</td>
                                <td>{{ event.date.format('d/m/Y') }}</td>
                                <td>{{ event.eventType.lib }}</td>
                                <td></td>
                                <td>
                                    <a href="" class="btn btn-mini btn-info"><span class="icon-eye-open"></span></a>&nbsp;
                                    <a href="" class="btn btn-mini btn-warning"><span class="icon-edit"></span></a>&nbsp;
                                    <a href="{{ url('app_event_add_member', {'id': event.id} ) }}"  class="btn btn-mini btn-default"><span class="icon-user"></span></a>&nbsp;
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}