{% extends '::base_connect.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/form/member.js'
        '@AppBundle/Resources/public/js/matrix.charts.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block breadscrums %}
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"><a href="{{ url('app_home') }}" title="Go to Home" class="tip-bottom"><i
                        class="icon-home"></i> {{ 'Home'|trans }}</a> <a
                    href="{{ url('app_judoka_list') }}">{{ 'Judokas'|trans }}</a> <a href="#"
                                                                                     class="current">{{ 'Ajouter un membre'|trans }}</a>
        </div>
        <h1>{{ 'Judokas'|trans }}</h1>
    </div>
    <!--End-breadcrumbs-->
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <hr>
        <div class="well">
            {% include 'members/weight.html.twig' %}
        </div>
    </div>

{% endblock %}